.main {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.search-bar {
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap

}
.item {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    border: 1px solid #B1B1B1;
    width: 12rem;
    max-height: 18rem;
    cursor: pointer;
    line-clamp: 2;
    padding: 0.5rem;
}
.item:hover {
    transform: translate(10px,-10px);
}
.title {
    padding: 5px;
    line-clamp: 2;
    text-overflow: ellipsis;
}
.image {
    width: 10rem;
}
.pageSizeWrapper {
    margin: 2rem 0;
}

.sizeButtons {
    width: 2rem;
    margin: 0 0.1rem;
    cursor: pointer;
}

