
.modal {
    width: 24rem;
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.main {
    display: flex;
    flex-direction: column;
    margin:10rem 0;
}
.item {
    margin: 1rem 0;
}
